@font-face {
  font-family: opensans;
  src: url("https://assets.virsas.com/font/OpenSans-Regular.ttf");
}

body {
  font-family: "opensans", "system-ui", "sans-serif";
  margin: 0px auto;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}

a {
  text-decoration: none;
}

pre {
  height: auto;
  max-height: 60vh;
  overflow: auto;
  white-space: pre !important;
  word-break: normal !important;
  word-wrap: normal !important;
  counter-reset: line;
  padding: 10px;
}